.banner1-wrapper {
  display: contents;
}
.banner1-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
.banner1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner1-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner1-title {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  width: 100%;
  height: auto;
  font-size: 80px;
  text-align: center;
  font-family: "Raleway-Light";
}
.banner1-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.banner1-text1 {
  color: var(--dl-color-theme-secondary1);
  font-size: 50px;
  font-family: "Raleway-Regular";
}
.banner1-text2 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  font-size: 30px;
  align-self: center;
  text-align: center;
  font-family: "Raleway-Light";
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.banner1-text3 {
  color: var(--dl-color-theme-secondary2);
  font-size: 50px;
  font-style: italic;
  font-family: "Raleway-Italic";
  font-weight: 300;
}

@media(max-width: 479px) {
  .banner1-container1 {
    height: auto;
  }
  .banner1-title {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
  .banner1-text2 {
    font-size: 30px;
    align-self: center;
  }
}

.statforged-wrapper {
  display: contents;
}
.statforged-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.statforged-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.statforged-image {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.statforged-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.statforged-content {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.statforged-heading1 {
  color: var(--dl-color-theme-primary1);
  font-family: "Raleway-Regular";
}
.statforged-content1 {
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "Raleway-Light";
}
.statforged-text1 {
  color: var(--dl-color-theme-primary1);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.statforged-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.statforged-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.statforged-button1 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.statforged-action11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.statforged-button2 {
  transition: 0.3s;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.statforged-button2:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  background-color: transparent;
}
.statforged-button3 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home-fragment1 {
  display: contents;
}
.home-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}

@media(max-width: 1200px) {
  .statforged-heading1 {
    font-family: Raleway-Bold;
  }
  .statforged-content1 {
    font-family: Raleway-Medium;
  }
  .statforged-text1 {
    color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .statforged-container1 {
    flex-direction: column;
  }
  .statforged-container2 {
    width: 90%;
  }
  .statforged-image {
    padding-left: 0;
  }
  .statforged-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .statforged-container2 {
    width: 90%;
  }
  .statforged-heading1 {
    text-align: center;
  }
  .statforged-content1 {
    text-align: center;
  }
  .statforged-actions {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .statforged-heading1 {
    text-align: center;
  }
  .statforged-content1 {
    text-align: center;
  }
  .statforged-actions {
    flex-direction: column;
  }
  .statforged-button1 {
    width: 100%;
  }
  .statforged-button2 {
    width: 100%;
  }
  .statforged-button3 {
    width: 100%;
  }
}

.rune-run-wrapper {
  display: contents;
}
.rune-run-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.rune-run-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.rune-run-content {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.rune-run-heading1 {
  color: var(--dl-color-theme-primary1);
  font-family: "Raleway-Regular";
}
.rune-run-content1 {
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "Raleway-Light";
}
.rune-run-text {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.rune-run-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.rune-run-button1 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.rune-run-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.rune-run-button2 {
  transition: 0.3s;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.rune-run-button2:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  background-color: transparent;
}
.rune-run-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rune-run-image {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}

@media(max-width: 1200px) {
  .rune-run-heading1 {
    font-family: Raleway-Bold;
  }
  .rune-run-content1 {
    font-family: Raleway-Medium;
  }
  .rune-run-text {
    color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .rune-run-container1 {
    flex-direction: column;
  }
  .rune-run-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .rune-run-container2 {
    width: 90%;
  }
  .rune-run-image {
    padding-right: 0;
  }
}
@media(max-width: 767px) {
  .rune-run-heading1 {
    text-align: center;
  }
  .rune-run-content1 {
    text-align: center;
  }
  .rune-run-actions {
    width: 100%;
    justify-content: center;
  }
  .rune-run-container2 {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .rune-run-heading1 {
    text-align: center;
  }
  .rune-run-content1 {
    text-align: center;
  }
  .rune-run-actions {
    flex-direction: column;
  }
  .rune-run-button1 {
    width: 100%;
  }
  .rune-run-button2 {
    width: 100%;
  }
}

.skills-wrapper {
  display: contents;
}
.skills-container1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  box-shadow: 0px 11px 10px 0px #0f0f0f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-accent2);
}
.skills-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.skills-container2 {
  width: 100%;
  align-self: center;
  padding-left: 17%;
}
.skills-container3 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-container4 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-container5 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-container6 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-container7 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.skills-container8 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-fragment2 {
  display: contents;
}
.home-text12 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment3 {
  display: contents;
}
.home-text15 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway-Medium";
  padding-top: var(--dl-space-space-unit);
}
.home-fragment4 {
  display: contents;
}
.home-text19 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment5 {
  display: contents;
}
.home-text22 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment6 {
  display: contents;
}
.home-text26 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment7 {
  display: contents;
}
.home-text29 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment8 {
  display: contents;
}
.home-text32 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 60px;
  font-family: "Raleway-Light";
}

@media(max-width: 1200px) {
  .skills-container2 {
    flex: 0;
    align-self: center;
    padding-left: 14%;
  }
  .skills-container3 {
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-container4 {
    width: 50%;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-container5 {
    width: 50%;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-container6 {
    width: 50%;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-container7 {
    width: 50%;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-container8 {
    width: 50%;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text12 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text15 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text19 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text22 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text26 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text29 {
    padding-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .skills-container3 {
    width: auto;
  }
  .skills-container4 {
    width: auto;
  }
  .skills-container5 {
    width: auto;
  }
  .skills-container6 {
    width: auto;
  }
  .skills-container7 {
    width: auto;
  }
  .skills-container8 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .skills-container1 {
    gap: var(--dl-space-space-twounits);
  }
  .skills-container2 {
    padding-left: 18%;
  }
}

.grove-guardian-wrapper {
  display: contents;
}
.grove-guardian-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.grove-guardian-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.grove-guardian-image {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.grove-guardian-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.grove-guardian-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.grove-guardian-heading1 {
  color: var(--dl-color-theme-primary1);
  font-family: "Raleway-Regular";
}
.grove-guardian-content1 {
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "Raleway-Light";
}
.grove-guardian-text {
  color: var(--dl-color-theme-primary1);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.grove-guardian-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.grove-guardian-button1 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.grove-guardian-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.grove-guardian-button2 {
  transition: 0.3s;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.grove-guardian-button2:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  background-color: transparent;
}

@media(max-width: 1200px) {
  .grove-guardian-heading1 {
    font-family: Raleway-Bold;
  }
  .grove-guardian-content1 {
    font-family: Raleway-Medium;
  }
  .grove-guardian-text {
    color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .grove-guardian-container1 {
    flex-direction: column;
  }
  .grove-guardian-container2 {
    width: 90%;
  }
  .grove-guardian-image {
    padding-left: 0;
  }
  .grove-guardian-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .grove-guardian-container2 {
    width: 90%;
  }
  .grove-guardian-heading1 {
    text-align: center;
  }
  .grove-guardian-content1 {
    text-align: center;
  }
  .grove-guardian-actions {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .grove-guardian-heading1 {
    text-align: center;
  }
  .grove-guardian-content1 {
    text-align: center;
  }
  .grove-guardian-actions {
    flex-direction: column;
  }
  .grove-guardian-button1 {
    width: 100%;
  }
  .grove-guardian-button2 {
    width: 100%;
  }
}

.one-last-quest-wrapper {
  display: contents;
}
.one-last-quest-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.one-last-quest-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.one-last-quest-content {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.one-last-quest-heading1 {
  color: var(--dl-color-theme-primary1);
  font-family: "Raleway-Regular";
}
.one-last-quest-content1 {
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "Raleway-Light";
}
.one-last-quest-text {
  color: var(--dl-color-theme-primary1);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.one-last-quest-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.one-last-quest-button1 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.one-last-quest-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.one-last-quest-button2 {
  transition: 0.3s;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.one-last-quest-button2:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  background-color: transparent;
}
.one-last-quest-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.one-last-quest-image {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.one-last-questroot-class-name {
  background-color: var(--dl-color-theme-accent2);
}
@media(max-width: 1200px) {
  .one-last-quest-heading1 {
    font-family: Raleway-Bold;
  }
  .one-last-quest-content1 {
    font-family: Raleway-Medium;
  }
  .one-last-quest-text {
    color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .one-last-quest-container1 {
    flex-direction: column;
  }
  .one-last-quest-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .one-last-quest-container2 {
    width: 90%;
  }
  .one-last-quest-image {
    padding-right: 0;
  }
}
@media(max-width: 767px) {
  .one-last-quest-heading1 {
    text-align: center;
  }
  .one-last-quest-content1 {
    text-align: center;
  }
  .one-last-quest-actions {
    width: 100%;
    justify-content: center;
  }
  .one-last-quest-container2 {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .one-last-quest-heading1 {
    text-align: center;
  }
  .one-last-quest-content1 {
    text-align: center;
  }
  .one-last-quest-actions {
    flex-direction: column;
  }
  .one-last-quest-button1 {
    width: 100%;
  }
  .one-last-quest-button2 {
    width: 100%;
  }
}

.time-squared-wrapper {
  display: contents;
}
.time-squared-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.time-squared-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.time-squared-image {
  width: 100%;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.time-squared-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.time-squared-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.time-squared-heading1 {
  color: var(--dl-color-theme-primary1);
  font-family: "Raleway-Regular";
}
.time-squared-content1 {
  color: var(--dl-color-theme-primary1);
  font-size: 24px;
  font-family: "Raleway-Light";
}
.time-squared-text {
  color: var(--dl-color-theme-primary1);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.time-squared-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.time-squared-button1 {
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.time-squared-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.time-squared-button2 {
  transition: 0.3s;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.time-squared-button2:hover {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  background-color: transparent;
}

@media(max-width: 1200px) {
  .time-squared-heading1 {
    font-family: Raleway-Bold;
  }
  .time-squared-content1 {
    font-family: Raleway-Medium;
  }
  .time-squared-text {
    color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .time-squared-container1 {
    flex-direction: column;
  }
  .time-squared-container2 {
    width: 90%;
  }
  .time-squared-image {
    padding-left: 0;
  }
  .time-squared-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .time-squared-container2 {
    width: 90%;
  }
  .time-squared-heading1 {
    text-align: center;
  }
  .time-squared-content1 {
    text-align: center;
  }
  .time-squared-actions {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .time-squared-heading1 {
    text-align: center;
  }
  .time-squared-content1 {
    text-align: center;
  }
  .time-squared-actions {
    flex-direction: column;
  }
  .time-squared-button1 {
    width: 100%;
  }
  .time-squared-button2 {
    width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment1 {
  display: contents;
}
.home-action1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
.home-fragment2 {
  display: contents;
}
.home-text12 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment3 {
  display: contents;
}
.home-text15 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway-Medium";
  padding-top: var(--dl-space-space-unit);
}
.home-fragment4 {
  display: contents;
}
.home-text19 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment5 {
  display: contents;
}
.home-text22 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment6 {
  display: contents;
}
.home-text26 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment7 {
  display: contents;
}
.home-text29 {
  fill: var(--dl-color-theme-primary1);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.home-fragment8 {
  display: contents;
}
.home-text32 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 60px;
  font-family: "Raleway-Light";
}
@media(max-width: 1200px) {
  .home-text12 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text15 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text19 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text22 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text26 {
    padding-top: var(--dl-space-space-unit);
  }
  .home-text29 {
    padding-top: var(--dl-space-space-unit);
  }
}
