.footer-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-link {
  text-decoration: none;
}
.footer-fragment1 {
  display: contents;
}
.footer-text12 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway-Light";
}
.footer-fragment2 {
  display: contents;
}
.footer-text15 {
  display: inline-block;
  font-size: 20px;
}
.footer-fragment3 {
  display: contents;
}
.footer-text18 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-family: "Raleway-Medium";
  padding-bottom: var(--dl-space-space-unit);
}
.footer-text19 {
  font-size: 26px;
}
.footer-text20 {
  font-size: 26px;
}
.footer-text22 {
  font-size: 23px;
}
.footer-text23 {
  font-size: 23px;
}





