.navbar81-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
}
.navbar81-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: var(--dl-color-colors-b1);
}
.navbar81-navlink {
  fill: var(--dl-color-colors-text);
  flex: 1;
  color: var(--dl-color-colors-text);
  width: auto;
  height: var(--dl-size-size-small);
  padding: 0px;
  border-color: var(--dl-color-colors-p2);
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.navbar81-button {
  flex: 1;
  width: auto;
  height: var(--dl-size-size-small);
  padding: 0px;
  border-color: var(--dl-color-colors-p2);
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-colors-p2);
}

@media(max-width: 1200px) {
  .navbar81-container1 {
    width: 100%;
  }
  .navbar81-navlink {
    width: 100%;
    padding-right: 0px;
  }
  .navbar81-button {
    width: 590px;
  }
}
@media(max-width: 767px) {
  .navbar81-container1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .navbar81-container1 {
    width: 100%;
  }
  .navbar81-navlink {
    flex: 1;
    align-self: center;
    padding-right: 0px;
  }
  .navbar81-button {
    width: 259px;
    padding-right: 0px;
  }
}
