.navbar8-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
}
.navbar8-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar8-navlink {
  flex: 1;
  width: auto;
  height: var(--dl-size-size-small);
  padding: 0px;
  transition: 0.3s;
  border-color: var(--dl-color-colors-p2);
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: var(--dl-color-colors-p2);
}
.navbar8-navlink:hover {
  background-color: var(--dl-color-colors-p2);
}
.navbar8-button {
  fill: var(--dl-color-colors-text);
  flex: 1;
  color: var(--dl-color-colors-text);
  width: auto;
  height: var(--dl-size-size-small);
  padding: 0px;
  transition: 0.3s;
  border-color: var(--dl-color-colors-p2);
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.navbar8-button:hover {
  background-color: var(--dl-color-colors-a1);
}
.navbar8-root-class-name {
  background-color: var(--dl-color-colors-b1);
}
@media(max-width: 1200px) {
  .navbar8-container1 {
    width: 100%;
  }
  .navbar8-navlink {
    width: 100%;
    padding-right: 0px;
  }
  .navbar8-button {
    width: 590px;
  }
}
@media(max-width: 767px) {
  .navbar8-container1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .navbar8-container1 {
    width: 100%;
  }
  .navbar8-navlink {
    flex: 1;
    align-self: center;
    padding-right: 0px;
  }
  .navbar8-button {
    width: 259px;
    padding-right: 0px;
  }
}
