<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChristophMaureder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing8.css" rel="stylesheet" />
      <div class="pricing8-pricing23 thq-section-padding">
        <div class="pricing8-max-width thq-section-max-width">
          <div class="pricing8-section-title">
            <div class="pricing8-content">
              <h2 class="pricing8-text thq-heading-2"><span>My Games</span></h2>
              <a
                href="https://avacup.itch.io/"
                target="_blank"
                rel="noreferrer noopener"
                class="pricing8-link button"
              >
                <span class="pricing8-text01">
                  You can also check them out on Itch
                </span>
                <svg
                  viewBox="0 0 1024 1024"
                  class="pricing8-icon thq-icon-x-small"
                >
                  <path
                    d="M298.667 341.333h323.669l-353.835 353.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l353.835-353.835v323.669c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-426.667c0-5.803-1.152-11.307-3.243-16.341s-5.163-9.728-9.216-13.781c-0.043-0.043-0.043-0.043-0.085-0.085-3.925-3.925-8.619-7.083-13.781-9.216-5.035-2.091-10.539-3.243-16.341-3.243h-426.667c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="pricing8-container">
            <div class="pricing8-column thq-card">
              <div class="pricing8-container1">
                <img
                  alt="image"
                  src="public/gg-300h.jpg"
                  class="pricing8-image"
                />
              </div>
              <div class="pricing8-container2">
                <div class="pricing8-price">
                  <div class="pricing8-price1">
                    <h1 class="pricing8-text02 thq-heading-3">
                      Grove Guardian
                    </h1>
                    <p class="pricing8-text03 thq-body-large">
                      Coding + System Design
                    </p>
                    <p class="pricing8-text04 thq-body-large">
                      <span>2024&nbsp;- 10 Weeks</span>
                      <br />
                      <span>3 persons</span>
                      <br />
                    </p>
                  </div>
                  <div class="pricing8-list">
                    <div class="pricing8-list-item">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon02">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text09 thq-body-small">
                        <span>Behavior Tree</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item01">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon04">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text12 thq-body-small">
                        Ability System
                      </span>
                    </div>
                    <div class="pricing8-list-item02">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon06">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text13 thq-body-small">
                        Gameplay Design&nbsp;
                      </span>
                    </div>
                    <div class="pricing8-list-item03">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon08">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text14 thq-body-small">
                        Ability Design
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <a href="grove-guardian.html" class="pricing8-navlink">
                <label class="pricing8-text15">More Detail</label>
              </a>
            </div>
            <div class="pricing8-column1 thq-card">
              <div class="pricing8-container3">
                <img
                  alt="image"
                  src="public/olq-300h.jpg"
                  class="pricing8-image1"
                />
              </div>
              <div class="pricing8-container4">
                <div class="pricing8-price2">
                  <div class="pricing8-price3">
                    <h1 class="pricing8-text16 thq-heading-3">
                      One Last Quest
                    </h1>
                    <p class="pricing8-text17 thq-body-large">Coding</p>
                    <p class="pricing8-text18 thq-body-large">
                      <span>2022 - 8 Weeks</span>
                      <br />
                      <span>4 persons</span>
                      <br />
                    </p>
                  </div>
                  <div class="pricing8-list1">
                    <div class="pricing8-list-item04">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon10">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text23 thq-body-small">
                        <span>Grid based search algorithms</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item05">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon12">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text26 thq-body-small">
                        <span>Game Architecture</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item06">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon14">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text29 thq-body-small">VFX</span>
                    </div>
                    <div class="pricing8-list-item07">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon16">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text30 thq-body-small">
                        <span>Level Editor</span>
                        <br />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="pricing8-text33">WIP</label>
            </div>
            <div class="pricing8-column2 thq-card">
              <div class="pricing8-container5">
                <img
                  alt="image"
                  src="public/ts-300h.jpg"
                  class="pricing8-image2"
                />
              </div>
              <div class="pricing8-container6">
                <div class="pricing8-price4">
                  <div class="pricing8-price5">
                    <h1 class="pricing8-text34 thq-heading-3">Time Squared</h1>
                    <p class="pricing8-text35 thq-body-large">
                      Coding + Game Pitch
                    </p>
                    <p class="pricing8-text36 thq-body-large">
                      <span>2023 - 5 Weeks</span>
                      <br />
                      <span>6 person</span>
                    </p>
                  </div>
                  <div class="pricing8-list2">
                    <div class="pricing8-list-item08">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon18">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text40 thq-body-small">
                        <span>Custom Movement</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item09">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon20">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text43 thq-body-small">
                        Custom Collisions
                      </span>
                    </div>
                    <div class="pricing8-list-item10">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon22">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text44 thq-body-small">
                        <span>Platformer Enhancements</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item11">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon24">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text47 thq-body-small">
                        <span>One Page Design</span>
                        <br />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="pricing8-text50">WIP</label>
            </div>
            <div class="pricing8-column3 thq-card">
              <div class="pricing8-container7">
                <img
                  alt="image"
                  src="public/j2-300h.jpg"
                  class="pricing8-image3"
                />
              </div>
              <div class="pricing8-container8">
                <div class="pricing8-price6">
                  <div class="pricing8-price7">
                    <h1 class="pricing8-text51 thq-heading-3">
                      Jailementals 2.0
                    </h1>
                    <p class="pricing8-text52 thq-body-large">
                      Coding + Game Design
                    </p>
                    <p class="pricing8-text53 thq-body-large">
                      <span>2022 - 2 Weeks</span>
                      <br />
                      <span>4 person</span>
                    </p>
                  </div>
                  <div class="pricing8-list3">
                    <div class="pricing8-list-item12">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon26">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text57 thq-body-small">
                        <span>Puzzle Script Coding</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item13">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon28">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text60 thq-body-small">
                        Puzzle Design
                      </span>
                    </div>
                    <div class="pricing8-list-item14">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon30">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text61 thq-body-small">
                        <span>Mechanic Design</span>
                        <br />
                      </span>
                    </div>
                    <div class="pricing8-list-item15">
                      <svg viewBox="0 0 1024 1024" class="pricing8-icon32">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                      <span class="pricing8-text64 thq-body-small">
                        <span>Prototyping</span>
                        <br />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <label class="pricing8-text67">WIP</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
