.rune-run-body-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.rune-run-body-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rune-run-body-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.rune-run-body-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.rune-run-body-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image1 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.rune-run-body-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image2 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.rune-run-body-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image4 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.rune-run-body-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image5 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.rune-run-body-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image6 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.rune-run-body-container7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rune-run-body-image8 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.rune-run-body-fragment1 {
  display: contents;
}
.rune-run-body-text3 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  text-align: center;
  font-family: "Raleway-Regular";
  letter-spacing: 1.5px;
}
.rune-run-body-fragment2 {
  display: contents;
}
.rune-run-body-text4 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 40px;
  font-family: "Raleway-Regular";
}

@media(max-width: 991px) {
  .rune-run-body-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .rune-run-body-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .rune-run-body-image4 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .rune-run-body-image5 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .rune-run-body-image6 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .rune-run-body-image8 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
@media(max-width: 767px) {
  .rune-run-body-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
