.statforged-header-header23 {
  background-color: var(--dl-color-theme-neutral-dark);
}
.statforged-header-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.statforged-header-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.statforged-header-button {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.statforged-header-action1 {
  color: var(--dl-color-theme-neutral-dark);
}
.statforged-header-fragment1 {
  display: contents;
}
.statforged-header-text12 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway-Medium";
}
.statforged-header-fragment2 {
  display: contents;
}
.statforged-header-text19 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 150px;
  text-align: center;
  font-family: "Raleway-Light";
}

@media(max-width: 1200px) {
  .statforged-header-text12 {
    text-align: center;
  }
  .statforged-header-text19 {
    font-size: 120px;
    font-family: Raleway-Light;
  }
}
@media(max-width: 991px) {
  .statforged-header-text19 {
    font-size: 120px;
  }
}
@media(max-width: 767px) {
  .statforged-header-text19 {
    font-size: 90px;
  }
}
@media(max-width: 479px) {
  .statforged-header-button {
    width: 100%;
  }
  .statforged-header-text12 {
    text-align: center;
  }
  .statforged-header-text19 {
    font-size: 75px;
  }
}
