.statforged-vision-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.statforged-vision-max-width {
  gap: var(--dl-space-space-threeunits);
  align-items: center;
}
.statforged-vision-section-title {
  align-items: center;
}
.statforged-vision-fragment1 {
  display: contents;
}
.statforged-vision-text13 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-family: "Raleway-Regular";
  letter-spacing: 1.5px;
}
.statforged-vision-fragment2 {
  display: contents;
}
.statforged-vision-text16 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  width: 90%;
  display: inline-block;
  font-family: "Raleway-Regular";
  letter-spacing: 1.5px;
}
.statforged-vision-fragment3 {
  display: contents;
}
.statforged-vision-text24 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 40px;
  font-family: "Raleway-Regular";
}

@media(max-width: 991px) {
  .statforged-vision-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .statforged-vision-section-title {
    width: auto;
  }
  .statforged-vision-text24 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .statforged-vision-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
