.time-squared-header-header23 {
  background-color: var(--dl-color-theme-neutral-dark);
}
.time-squared-header-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.time-squared-header-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.time-squared-header-fragment1 {
  display: contents;
}
.time-squared-header-text12 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 120px;
  text-align: center;
  font-family: "Raleway-Light";
}
.time-squared-header-fragment2 {
  display: contents;
}
.time-squared-header-text15 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  display: inline-block;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway-Medium";
}

@media(max-width: 1200px) {
  .time-squared-header-text12 {
    font-size: 120px;
    font-family: Raleway-Light;
  }
  .time-squared-header-text15 {
    text-align: center;
  }
}
@media(max-width: 991px) {
  .time-squared-header-text12 {
    font-size: 120px;
  }
}
@media(max-width: 767px) {
  .time-squared-header-text12 {
    font-size: 90px;
  }
}
@media(max-width: 479px) {
  .time-squared-header-text12 {
    font-size: 75px;
  }
  .time-squared-header-text15 {
    text-align: center;
  }
}
